[user]
	name = {{ .user.name | quote }}
	email = {{ .user.email | quote }}
[color]
	ui = auto
[core]
	editor = vim
[init]
	defaultBranch = main
[pull]
	ff = only
[push]
	autoSetupRemote = true
	useForceIfIncludes = true
[alias]
	pushf = push --force-with-lease --force-if-includes
[credential]
	helper = osxkeychain
[ghq]
	root = ~/src
