/.vim/plugged/
/.vim/.netrwhist
/Movies/*
!/Movies/.localized
/Music/*
!/Music/.localized
/Parallels/
/PhpstormProjects/
/Pictures/*
!/Pictures/.localized
/PycharmProjects/
/src/
/WebstormProjects/
/Brewfile.lock.json
