/.antigen/*
!.antigen/bundles
/.antigen/bundles/*
!.antigen/bundles/zsh-users
/.antigen/bundles/zsh-users/*
!.antigen/bundles/zsh-users/antigen
/.config/nvim/.netrwhist
/.vim/.netrwhist
/.vim/bundle/*
!.vim/bundle/repos
/.vim/bundle/repos/*
!.vim/bundle/repos/github.com
/.vim/bundle/repos/github.com/*
!.vim/bundle/repos/github.com/Shougo
/.vim/bundle/repos/github.com/Shougo/*
!.vim/bundle/repos/github.com/Shougo/dein.vim
