[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "ohmyzsh"]
	path = .local/share/oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule "powerlevel10k"]
	path = .config/zsh/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "zsh-completions"]
	path = .config/zsh/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "zsh-autosuggestions"]
	path = .config/zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "zsh-syntax-highlighting"]
	path = .config/zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh-history-substring-search"]
	path = .config/zsh/plugins/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search.git
